<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" href="./css/bootstrap.min.css">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="navbar-brand">Grow.local</div>
	</nav>

	<main class="container" id="app">
		<div class="row p-3">
			<div class="card col p-0">
				<div class="card-body">
					<div class="d-flex flex-row justify-content-end pb-2">
						<button class="btn btn-primary" v-on:click="getNetworks">Refresh</button>
					</div>
					<div class="d-flex justify-content-center">
						<div v-if="loading" class="spinner-border text-center" role="status">
							<span class="sr-only">Loading...</span>
						</div>
					</div>
					<h2 class="text-center" v-if="networks.length == 0 && !loading">No networks detected</h2>
					<div v-if="networks.length > 0" class="accordion" id="accordionExample">
						<div v-for="(network, index) in networks" :key="index" class="card">
							<div class="card-header d-inline">
								<h3 class="mb-0 d-inline">
									{{ network.ssid }}<span v-if="!network.secure"> (insecure)</span>
								</h3>
								<button class="btn btn-primary d-inline float-right"
									v-on:click="selectedNetwork = network" data-toggle="modal"
									data-target="#networkModal">Join</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="networkModal" tabindex="-1" role="dialog" aria-labelledby="networkModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="networkModalLabel">Join {{ selectedNetwork.ssid }}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<label for="password">Password</label>
						<input v-model="password" type="password" class="form-control" id="password" placeholder="Password">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-primary" v-on:click="joinNetwork">Join Network</button>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script src="./js/vue.js"></script>
	<script src="./js/axios.min.js"></script>
	<script src="./js/main.js"></script>
	<script src="./js/jquery-3.3.1.slim.min.js"></script>
	<script src="./js/bootstrap.min.js"></script>
</body>

</html>